// Apply category header style to badges and groups
.badges-page .category-title-header,
.groups-page .category-title-header {
    display: flex;
}

.category-title-contents {
    display: grid;
    grid-template-areas:
        "logo title      "
        "logo description";
    grid-template-columns: auto 1fr;
}

div[class^="category-title-header"] .category-title-contents {
    max-width: 500px;
    padding: 40px;
}

div[class^="category-title-header"] {
    display: flex;
    width: 100%;
    justify-content: center;
    background: var(--category-banner-background);
    color: var(--category-banner-color);
    text-align: center;
}

div[class^="category-title-header"] .badge-category__wrapper .badge-category .d-icon {
    height: .75em;
    width: .75em;
}

.category-title-contents .category-title .badge-category__name {
    font-size: var(--font-up-1);
}

// Fix for sticking tags on categories
.category-boxes .subcategories .subcategory {
    margin-bottom: 0.5rem !important;
}

// Coherence between font-sizes everywhere + pointer styling
.category-boxes .category-box .description {
    font-size: inherit;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    cursor: default;
}

// Target links on all the boxes
.category-boxes .category-box .subcategories {
    z-index: 2;
}

.category-boxes .category-box .description {
    z-index: 0;
}

.category-boxes .category-box .parent-box-link::before {
    z-index: 1;
}

// Distinctive category titles
.category-boxes .category-box-heading .badge-category__name,
.category-boxes-with-topics .category-box-heading .badge-category__name {
    font-weight: 600;
}

// Disable group expand/collapse feature
.custom-categories-groups a.custom-category-group-toggle {
    pointer-events: none;
    cursor: default;
}

// Hide some elements
.custom-categories-groups .category-box-soporte,
.custom-category-group-toggle .d-icon,
custom-category-group-muted {
    display: none !important;
}