// Disable new topic in mobile
@media (width >=40rem) {
    .d-combo-button {
        display: none !important;
    }
}

// Style no-tags dropdown display
.select-kit.combo-box.tag-drop .select-kit-row[data-value="all-tags"],
.select-kit.combo-box.tag-drop .select-kit-row[data-value="no-tags"] {
    color: var(--primary-high);
    font-size: var(--font-down-2-rem);
    font-weight: normal;
    padding: 0.5rem 1rem;
}

// Hide descriptions on categories
.select-kit.combo-box.category-chooser .select-kit-row .category-desc {
    display: none;
}

/* 
// Disable navigation categories and tags in Horizon
#main-outlet .list-controls .navigation-container .category-breadcrumb.hidden,
#main-outlet .list-controls .navigation-container .category-breadcrumb {
    display: none !important;
} */