// -----------------------------------------------------------------------
// Groups
// -----------------------------------------------------------------------

// We use a team group so hide redundancy
.groups-boxes.group-box[data-group-name="admins"],
.groups-boxes.group-box[data-group-name="mods"] {
    display: none;
}

.groups-boxes.group-box[data-group-name="nuevos"] {
    order: -8;
}

.groups-boxes.group-box[data-group-name="anons"] {
    order: -7;
}

.groups-boxes.group-box[data-group-name="nautas"] {
    order: -6;
}

.groups-boxes.group-box[data-group-name="traders"] {
    order: -5;
}

.groups-boxes.group-box[data-group-name="agoristas"] {
    order: -4;
}

.groups-boxes.group-box[data-group-name="lideres"] {
    order: -3;
}

.groups-boxes.group-box[data-group-name="delistados"] {
    order: -2;
}

.groups-boxes.group-box[data-group-name="team"] {
    order: -1;
}

// No green color on group boxes archivements
.groups-boxes .group-box .group-membership .is-group-owner,
.groups-boxes .group-box .group-membership .is-group-member {
    color: unset;
}

// More sizing on groups icons and descriptions
.groups-boxes .group-box .group-avatar-flair .avatar-flair .d-icon {
    width: 1.3rem;
    height: 1.3rem;
}

.groups-boxes .group-box .group-box-inner .group-description {
    padding-top: 0.5rem;
}