// -----------------------------------------------------------------------
// Groups rearrangment
// -----------------------------------------------------------------------

// We use a team group so hide redundancy
.ember-view .groups-boxes.group-box[data-group-name="admins"],
.ember-view .groups-boxes.group-box[data-group-name="mods"] {
    display: none;
}

.ember-view .groups-boxes.group-box[data-group-name="nuevos"] {
    order: -8;
}

.ember-view .groups-boxes.group-box[data-group-name="anons"] {
    order: -7;
}

.groups-boxes.group-box[data-group-name="nautas"] {
    order: -6;
}

.ember-view .groups-boxes.group-box[data-group-name="traders"] {
    order: -5;
}

.ember-view .groups-boxes.group-box[data-group-name="agoristas"] {
    order: -4;
}

.ember-view .groups-boxes.group-box[data-group-name="lideres"] {
    order: -3;
}

.groups-boxes.group-box[data-group-name="delistados"] {
    order: -2;
}

.ember-view .groups-boxes.group-box[data-group-name="team"] {
    order: -1;
}