.user-navigation-secondary .nav-pills li a {
    justify-content: left;
    padding-left: 2rem;
}

.user-navigation-secondary .navigation-controls {
    flex-wrap: wrap;
}

// Style and fix wrap on Profile MP
#user-navigation-secondary__horizontal-nav .new-user-wrapper .user-navigation .nav-pills li a {
    flex-wrap: wrap-reverse;
    justify-content: left;
}

.user-navigation-secondary .messages-dropdown-trigger,
.user-navigation-secondary .navigation-controls #new-private-message-btn {
    width: 100%;
    height: 1.8rem;
}

.post__topic-map.topic-map.--op {
    font-size: var(--font-down-1);
}

.user-navigation-secondary .nav-pills li {
    width: 100%;
    justify-content: left;
}

.new-user-wrapper .user-navigation-secondary .messages-dropdown-trigger,
.new-user-wrapper .user-navigation-secondary .category-breadcrumb li {
    width: 100%;
}

// [EXPERIMENTAL] Hiding activity switch for MPs vertical navbar design (moved from main.scss)
body.user-activity-page .user-navigation .user-navigation-secondary {
    display: none !important;
}

// Workaround on MP messages for new User UI (moved from main.scss)
body.user-messages-page .new-user-wrapper .user-navigation-secondary {
    display: unset;
}

.user-navigation-secondary .nav-pills li a {
    justify-content: inherit;
}

// Removing padding on column dirty hacked profile page
.new-user-wrapper .empty-state {
    margin: 0 0 1em 0;
}

.user-invites-page .user-content {
    margin: 0 auto 0 auto;
}