.new-user-wrapper .user-navigation .nav-pills li a {
    justify-content: left;
    padding-left: 2rem;
}

.user.nav .new-user-wrapper .user-navigation .nav-pills li a {
    justify-content: center;
    padding-left: 1rem;
}

.new-user-wrapper .user-navigation-secondary .navigation-controls {
    flex-wrap: wrap;
}

// Style and fix wrap on Profile MP
.user.user-navigation-secondary>.navigation-controls {
    flex-wrap: wrap-reverse;
    justify-content: left;
}

.new-user-wrapper .user-navigation-secondary .messages-dropdown-trigger,
.new-user-wrapper .user-navigation-secondary .fk-d-menu__trigger.messages-dropdown-trigger,
.new-user-wrapper .navigation-controls button {
    width: 100%;
    height: 1.8rem;
}

.post__topic-map.topic-map.--op {
    font-size: var(--font-down-1);
}

.user-navigation-secondary .nav-pills li {
    width: 100%;
    justify-content: left;
}

.new-user-wrapper .user-navigation-secondary .messages-dropdown-trigger,
.new-user-wrapper .user-navigation-secondary .category-breadcrumb li {
    width: 100%;
}

// [EXPERIMENTAL] Hiding activity switch for MPs vertical navbar design (moved from main.scss)
body.user-activity-page .user-navigation .user-navigation-secondary {
    display: none !important;
}

// Workaround on MP messages for new User UI (moved from main.scss)
body.user-messages-page .new-user-wrapper .user-navigation-secondary {
    display: unset;
}

.user-navigation-secondary .nav-pills li a {
    justify-content: inherit;
}